/* 
Text color
#757575 - primary color (text)
#212121 - secondary color (title) 

#000000 - webstudio + adress + H1 + text button
#2196F3 - links 
rgba(255, 255, 255, 0.6) - tel+email in footer

Background color
#E5E5E5 - primary background
#F5F4FA - secondary background
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --links-color: #2196f3;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --white-text-color: #ffffff;
  --black-text-color: #000000;

  --white-background-color: #ffffff;
  --footer-hero-background: #2f303a;
  --primary-background: #e5e5e5;
  --secondary-background: #f5f4fa;
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, 'sans-serif';
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nounderline {
  text-decoration: none;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px ;
  margin: 0 auto;
}

.flex{
  display: flex;
  align-items: center;
}

.image {
  display: block;
}

/* marking header */

header {
  border-bottom: 2px thistle;
}

.logo {
  color: var(--links-color);
  font-family: Raleway;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-black {
  color: var(--black-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 94px;

}
.webstudio{
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-white {
  color: var(--white-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 60px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav li:nth-child(n-1) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--links-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--links-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts {
  margin-left: auto;
}

.header-contacts .contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

}

.header-contacts li:not(:first-child) {
  margin-left: 50px;
}

.header-contacts .contact:hover,
.header-contacts .contact:focus {
  margin: 0;
  color: var(--links-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}


/* Hero */

.hero {
  height: 600px;
  border-top: 1px solid #ECECEC;
  background-color: var(--footer-hero-background);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--white-background-color);
  background-color: var(--links-color);
  border: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;
  border-radius: 4px;
}

/* Feature and our work*/
.features-work {
background-color: var(--primary-background);
}

.section {
  padding-bottom: 94px;
}

.feature-list {
  padding-top: 94px;
}

.feature-list > li:not(:last-child) {
margin-right: 30px;
justify-content: space-around;
}

.feature-list .title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list .description {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Section */
.section-title {
  margin: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.we-doing li:not(:last-child) {
  margin-right: 30px;
}

/* Our Team */
.section-team {
  background-color: var(--secondary-background);
}

.section.team{
  padding-top: 94px;
  padding-bottom: 94px;
}

.workers li:not(:last-child) {
  background-color: #ffffff;
  margin-right: 30px;
  text-align: center;
}
.workers .name {
  margin: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.workers .profession {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

/* Footer */
.footer {
  background-color: var(--footer-hero-background);
}

.webstudio-footer {
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-contacts .adress {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts li {
  margin-bottom: 10px;
}

.footer-contacts{
  padding-bottom: 60px;
}

.footer-contacts .adress:hover,
.footer-contacts .adress:focus {
  color: var(--links-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts .contact {
  color: var(--contacts-footer-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts .contact:hover,
.footer-contacts .contact:focus {
  color: var(--links-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ------------------------------------------ */
/* Portfolio */
/* ------------------------------------------ */

/* Filters button */

.filters {
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.filters .button {
  color: var(--title-text-color);
  background-color: var(--secondary-background);
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  margin-right: 8px;
}

.filters .button:hover,
.filters .button:focus {
  color: var(--white-text-color);
  background-color: var(--links-color);
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

}

.projects-title {
  color: var(--black-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-right: 24px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.projects-description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-right: 24px;
  margin-bottom: 20px;
  margin-left: 24px;
} 

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 94px;
}

.item {
  max-width: 370px;
  padding: 0px;
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 90px) / 3);
  background-color: #ffffff;
  border-radius: 4px;

}
